@page
@model Proiect_Medii_Programare.Pages.Rezervari.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii</h1>

<div>
    <h4>Rezervare</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rezervare.RestaurantID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.RestaurantID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rezervare.ClientID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.ClientID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rezervare.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rezervare.Ora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.Ora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rezervare.NumarPersoane)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.NumarPersoane)
        </dd>
       
        
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Rezervare?.ID">Editeaza</a> |
    <a asp-page="./Index">Inapoi la lista</a>
</div>
