@page 
@model Proiect_Medii_Programare.Pages.Recenzii.IndexModel

@{
    ViewData["Title"] = "Index";
}

   
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NumeSort">
                @Html.DisplayNameFor(model => model.Recenzie[0].Restaurant.Nume)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recenzie[0].Comentariu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recenzie[0].Rating)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DataSort">
                @Html.DisplayNameFor(model => model.Recenzie[0].Data)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Recenzie)
        {
            
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurant.Nume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentariu)
                </td>
                <td>
                    <div class="rating-text">@item.Rating.ToString("0")/5</div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
     
                    <a asp-page="./Edit" asp-route-id="@item.ID">Editeaza</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Detalii</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Sterge</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<p>
    <a asp-page="Create">Creeaza</a>
</p>
