@page
@model Proiect_Medii_Programare.Pages.Restaurante.IndexModel

@{
    ViewData["Title"] = "Index";
}
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Gaseste Restaurantul dupa Nume/Adresa:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NumeSort">
                @Html.DisplayNameFor(model => model.Restaurant[0].Nume)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.AdresaSort">
                @Html.DisplayNameFor(model => model.Restaurant[0].Adresa)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant[0].NrTelefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant[0].Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant[0].RatingTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Restaurant) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrTelefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>

                <td>
                    <div class="rating-text">@item.RatingTotal.ToString("0.0")/5</div>
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Editeaza</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalii</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Sterge</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-page="Create">Creeaza</a>
</p>
